@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

//ALL COLORS

//ALL TYPHOGRAPHY SIZES

//DISPLAY FLEX
.displayFlex{
    display: flex;
}
//DISPLAY FLEX AND JUSTIFY CONTENT CENTER
.displayJustifyCenter{
    display: flex;
    justify-content: center;
}
//DISPLAY FLEX AND JUSTIFY SPACE - AROUND
.displayJustifyAround{
    display: flex;
    justify-content: space-around;
}
//DISPLAY FLEX AND JUSTIFY SPACE - Between
.displayJustifyBetween{
    display: flex;
    justify-content: space-between;
}

//DISPLAY FLEX AND JUSTIFY SPACE - Between